<nz-table
  [nzFrontPagination]="false"
  [nzData]="treatmentData"
  [nzLoading]="isLoading"
  [nzTotal]="totalItems"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageLimit"
  (nzPageIndexChange)="onPaginationDataChange()"
  (nzPageSizeChange)="onPaginationDataChange()"
  nzShowSizeChanger
>
  <thead>
    <tr>
      <th>Treatment Code</th>
      <th>Patient Name</th>
      <th>Date Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let treatment of treatmentData; trackBy: trackByTreatmentCode">
      <td>{{ treatment.treatmentCode }}</td>
      <td>{{ treatment.patient }}</td>
      <td>{{ treatment.treatmentDate | date : "medium" }}</td>
    </tr>
  </tbody>
</nz-table>
